<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            size: A4;
            margin: 70px;
        }

        * {
            font-family: SUIT, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        table {
            border: none;
            border-collapse: collapse;
            width: 100%;
            font-size: 12px;
            text-align: center;
        }

        tr {
            vertical-align: middle;
        }

        caption {
            font-weight: bold;
            font-size: 24px;
            line-height: 48px;
            text-align: center;
        }
        .format {
            font-size: 13px;
            font-weight: bold;
        }
        .school {
            font-weight: bold;
            font-size: 18px;
        }

        th {
            background-color: #ECF2FA;
            font-weight: 500;
            padding: 8px 0;
        }

        .ba {
            border: #000000 1px solid;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        .text-box {
            padding: 4px 8px;
        }

        .small {
            font-size: 11px;
        }

        .middle {
            font-size: 14px;
        }

        .space {
            height: 8px;
        }

        .space-right {
            padding-right: 50px;
        }

        .guide {
            font-size: 11px;
            color: #BBBCC2;
            font-weight: 300;
        }

        .inline {
            display: inline-block;
        }

        .disabled {
            color: #f3f3f3;
            background-color: #f3f3f3;
        }
    </style>
    <title>원서</title>
</head>
<body>
<table>
    <p class="format">[서식1]</p>
    <caption th:text='${year+"학년도 부산소프트웨어마이스터고등학교 입학원서"}'></caption>
    <colgroup>
        <col style="width:6.39%"/>
        <col style="width:1.46%"/>
        <col style="width:4.83%"/>
        <col style="width:1.31%"/>
        <col style="width:1.37%"/>
        <col style="width:3.62%"/>
        <col style="width:4.99%"/>
        <col style="width:0.44%"/>
        <col style="width:4.12%"/>
        <col style="width:4.56%"/>
        <col style="width:3.75%"/>
        <col style="width:0.81%"/>
        <col style="width:4.73%"/>
        <col style="width:4.22%"/>
        <col style="width:0.44%"/>
        <col style="width:4.99%"/>
        <col style="width:4.56%"/>
        <col style="width:0.87%"/>
        <col style="width:4.14%"/>
        <col style="width:5.87%"/>
        <col style="width:6.27%"/>
    </colgroup>
    <tr>
        <th scope="row" class="ba" colspan="2">접수번호</th>
        <td class="ba" colspan="6" th:text="${form.id}"></td>
        <td colspan="6"></td>
        <th scope="row" class="ba" colspan="4">수험번호</th>
        <td class="ba" colspan="3" th:text="${form.examinationNumber}"></td>
    </tr>
    <tr>
        <th scope="rowgroup" class="ba" rowspan="4">지원자</th>
        <th scope="row" class="ba" colspan="3">성명</th>
        <td class="ba" colspan="5" th:text="${form.applicant.name}"></td>
        <th scope="row" class="ba" colspan="2">출신지역</th>
        <td class="ba" colspan="7" th:text="${form.education.school.location}"></td>
        <td class="ba" rowspan="5" colspan="3">
            <img
                    th:src="${identificationPictureUri}"
                    alt="증명사진"/>
        </td>
    </tr>
    <tr>
        <th scope="row" class="ba" colspan="3">생년월일</th>
        <td class="ba" colspan="5" th:text="${#temporals.format(form.applicant.birthday, 'YYYY년 MM월 dd일')}"></td>
        <th scope="row" class="ba" colspan="2">출신학교</th>
        <td class="ba" colspan="7" th:text="${form.education.school.name}"></td>
    </tr>
    <tr>
        <th scope="row" class="ba" colspan="3">성별</th>
        <td class="ba" colspan="5">
            <span th:text="${form.applicant.gender.getDescription()}"></span>
        </td>
        <th scope="row" class="ba" colspan="2">학교번호</th>
        <td class="ba" colspan="7" th:text="${form.education.school.code}"></td>
    </tr>
    <tr>
        <th scope="row" class="ba" colspan="3">휴대전화</th>
        <td class="ba" colspan="5" th:text="${form.applicant.phoneNumber.toString()}"></td>
        <th scope="row" class="ba" colspan="2">구 분</th>
        <td class="ba" colspan="7" th:if="${form.education.isExpected()}" th:text='${form.education.graduationYear + "년 졸업예정"}'></td>
        <td class="ba" colspan="7" th:if="${form.education.isGraduated()}" th:text='${form.education.graduationYear + "년 졸업"}'></td>
        <td class="ba" colspan="7" th:if="${form.education.isQualificationExamination()}" th:text='${form.education.graduationYear + "년 검정고시"}'></td>
    </tr>
    <tr>
        <th scope="rowgroup" class="ba" rowspan="2">보호자</th>
        <th scope="row" class="ba" colspan="3">성명</th>
        <td class="ba" colspan="5" th:text="${form.parent.name}"></td>
        <th scope="row" class="ba" colspan="2">휴대전화</th>
        <td class="ba" colspan="7" th:text="${form.parent.phoneNumber.toString()}"></td>
    </tr>
    <tr>
        <th scope="row" class="ba" colspan="3">주소</th>
        <td class="ba" colspan="17" th:text="${form.parent.address.toString()}"></td>
    </tr>
    <tr>
        <td style="height: 14px"></td>
    </tr>
    <tr>
        <th scope="row" class="ba" colspan="2">전형 구분</th>
        <td class="ba" colspan="5" th:if="${form.type.isRegular()}">일반전형</td>
        <td class="ba" colspan="5" th:if="${form.type.isSpecial()}">특별전형</td>
        <td class="ba" colspan="5" th:if="${form.type.isSupernumerary()}">정원 외 전형</td>
        <th scope="row" class="ba" colspan="3">대상 구분</th>
        <td class="ba" colspan="5" th:unless="${form.type.isNationalVeteransEducation()}" th:text="${form.type.getDescription()}"></td>
        <td class="ba disabled" colspan="5" th:if="${form.type.isNationalVeteransEducation()}" th:text="${form.type.getDescription()}">-</td>
        <th scope="row" class="ba" colspan="4">국가보훈대상자 중<br/>교육지원대상자</th>
        <td th:if="${form.type.isNationalVeteransEducation()}" class="ba"  colspan="2"><input type="checkbox" checked/></td>
        <td th:unless="${form.type.isNationalVeteransEducation()}" class="ba"  colspan="2"><input type="checkbox"/></td>
    </tr>
    <tr>
        <td style="height: 14px"></td>
    </tr>
    <tr>
        <th scope="rowgroup" class="ba" rowspan="2">학년</th>
        <th scope="colgroup" class="ba" colspan="8">교과성적</th>
        <th scope="colgroup" class="ba" colspan="7">출결상황</th>
        <th scope="colgroup" class="ba" colspan="3">봉사활동</th>
        <th scope="col" class="ba">가산점</th>
        <th scope="col" class="ba" rowspan="2">총점</th>
    </tr>
    <tr>
        <th scope="col" class="ba" colspan="2">학기</th>
        <th scope="col" class="ba" colspan="3">과목수</th>
        <th scope="col" class="ba">환산<br/>점수합</th>
        <th scope="col" class="ba" colspan="2">점수</th>
        <th scope="col" class="ba">미인정<br/>결석</th>
        <th scope="col" class="ba" colspan="2">미인정<br/>지각</th>
        <th scope="col" class="ba">미인정<br/>조퇴</th>
        <th scope="col" class="ba" colspan="2">미인정<br/>결과</th>
        <th scope="col" class="ba">점수</th>
        <th scope="col" class="ba">시간</th>
        <th scope="col" class="ba" colspan="2">점수</th>
        <th scope="col" class="ba">점수</th>
    </tr>
    <tr th:if="${form.education.isQualificationExamination()}">
        <th scope="row" class="ba" rowspan="2">1</th>
        <td class="ba disabled" colspan="2">-</td>
        <td class="ba disabled" colspan="3"></td>
        <td class="ba disabled" colspan="1"></td>
        <td class="ba" rowspan="7" colspan="2"
            th:text="${form.score.subjectGradeScore}"></td>
        <td class="ba disabled" rowspan="2" colspan="1"></td>
        <td class="ba disabled" rowspan="2" colspan="2"></td>
        <td class="ba disabled" rowspan="2" colspan="1"></td>
        <td class="ba disabled" rowspan="2" colspan="2"></td>
        <td class="ba" rowspan="7" colspan="1"
            th:text="${form.score.attendanceScore}"></td>
        <td class="ba disabled" rowspan="2" colspan="1"></td>
        <td class="ba" rowspan="7" colspan="2"
            th:text="${form.score.volunteerScore}"></td>
        <td class="ba" rowspan="7" colspan="1"
            th:text="${form.score.bonusScore}"></td>
        <td class="ba" rowspan="7" colspan="1"
            th:text="${form.score.getFirstRoundScore()}"></td>
    </tr>
    <tr th:unless="${form.education.isQualificationExamination()}">
        <th scope="row" class="ba" rowspan="2">1</th>
        <td class="ba disabled" colspan="2">-</td>
        <td class="ba disabled" colspan="3"></td>
        <td class="ba disabled" colspan="1"></td>
        <td class="ba" rowspan="7" colspan="2"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.score.subjectGradeScore}"></td>
        <td class="ba" rowspan="2" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.attendance1.absenceCount}"></td>
        <td class="ba" rowspan="2" colspan="2"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.attendance1.latenessCount}"></td>
        <td class="ba" rowspan="2" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.attendance1.earlyLeaveCount}"></td>
        <td class="ba" rowspan="2" colspan="2"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.attendance1.classAbsenceCount}"></td>
        <td class="ba" rowspan="7" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.score.attendanceScore}"></td>
        <td class="ba" rowspan="2" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.volunteerTime1}"></td>
        <td class="ba" rowspan="7" colspan="2"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.score.volunteerScore}"></td>
        <td class="ba" rowspan="7" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.score.bonusScore}"></td>
        <td class="ba" rowspan="7" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.score.getFirstRoundScore()}"></td>
    </tr>
    <tr>
        <td class="ba disabled" colspan="2">-</td>
        <td class="ba disabled" colspan="3"></td>
        <td class="ba disabled" colspan="1"></td>
    </tr>
    <tr th:if="${form.education.isQualificationExamination()}">
        <th scope="row" class="ba" rowspan="2">2</th>
        <td class="ba disabled" colspan="2">-</td>
        <td class="ba disabled" colspan="3"></td>
        <td class="ba disabled" colspan="1"></td>
        <td class="ba disabled" rowspan="2" colspan="1"></td>
        <td class="ba disabled" rowspan="2" colspan="2"></td>
        <td class="ba disabled" rowspan="2" colspan="1"></td>
        <td class="ba disabled" rowspan="2" colspan="2"></td>
        <td class="ba disabled" rowspan="2" colspan="1"></td>
    </tr>
    <tr th:unless="${form.education.isQualificationExamination()}">
        <th scope="row" class="ba" rowspan="2">2</th>
        <td class="ba" colspan="2">1</td>
        <td class="ba" colspan="3"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${grade21.size()}"></td>
        <td class="ba" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${grade21.totalScore()}"></td>
        <td class="ba" rowspan="2" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.attendance2.absenceCount}"></td>
        <td class="ba" rowspan="2" colspan="2"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.attendance2.latenessCount}"></td>
        <td class="ba" rowspan="2" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.attendance2.earlyLeaveCount}"></td>
        <td class="ba" rowspan="2" colspan="2"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.attendance2.classAbsenceCount}"></td>
        <td class="ba" rowspan="2" colspan="1"
            th:unless="${form.education.isQualificationExamination()}"
            th:text="${form.grade.volunteerTime2}"></td>
    </tr>
    <tr th:if="${form.education.isQualificationExamination()}">
        <td class="ba disabled" colspan="2">-</td>
        <td class="ba disabled" colspan="3"></td>
        <td class="ba disabled" colspan="1"></td>
    </tr>
    <tr th:unless="${form.education.isQualificationExamination()}">
        <td class="ba" colspan="2">2</td>
        <td class="ba" colspan="3"
            th:text="${grade22.size()}"></td>
        <td class="ba" colspan="1"
            th:text="${grade22.totalScore()}"></td>
    </tr>
    <tr th:if="${form.education.isQualificationExamination()}">
        <th scope="row" class="ba" rowspan="2">3</th>
        <td class="ba disabled" colspan="2">-</td>
        <td class="ba disabled" colspan="3"></td>
        <td class="ba disabled" colspan="1"></td>
        <td class="ba disabled" colspan="1" rowspan="2"></td>
        <td class="ba disabled" colspan="2" rowspan="2"></td>
        <td class="ba disabled" colspan="1" rowspan="2"></td>
        <td class="ba disabled" colspan="2" rowspan="2"></td>
        <td class="ba disabled" colspan="1" rowspan="2"></td>
    </tr>
    <tr th:unless="${form.education.isQualificationExamination()}">
        <th scope="row" class="ba" rowspan="2">3</th>
        <td class="ba" colspan="2">1</td>
        <td class="ba" colspan="3"
            th:text="${grade31.size()}"></td>
        <td class="ba" colspan="1"
            th:text="${grade31.totalScore()}"></td>
        <td class="ba" colspan="1" rowspan="2"
            th:text="${form.grade.attendance3.absenceCount}"></td>
        <td class="ba" colspan="2" rowspan="2"
            th:text="${form.grade.attendance3.latenessCount}"></td>
        <td class="ba" colspan="1" rowspan="2"
            th:text="${form.grade.attendance3.earlyLeaveCount}"></td>
        <td class="ba" colspan="2" rowspan="2"
            th:text="${form.grade.attendance3.classAbsenceCount}"></td>
        <td class="ba" colspan="1" rowspan="2"
            th:text="${form.grade.volunteerTime3}"></td>
    </tr>
    <tr>
        <td class="ba disabled" colspan="2">-</td>
        <td class="ba disabled" colspan="3"></td>
        <td class="ba disabled" colspan="1"></td>
    </tr>
    <tr th:if="${form.education.isQualificationExamination()}">
        <th scope="row" class="ba">계</th>
        <td class="ba disabled" colspan="2"></td>
        <td class="ba disabled" colspan="3"></td>
        <td class="ba disabled" colspan="1"></td>
        <td class="ba disabled" colspan="1"></td>
        <td class="ba disabled" colspan="2"></td>
        <td class="ba disabled" colspan="1"></td>
        <td class="ba disabled" colspan="2"></td>
        <td class="ba disabled" colspan="1"></td>
    </tr>
    <tr th:unless="${form.education.isQualificationExamination()}">
        <th scope="row" class="ba">계</th>
        <td class="ba disabled" colspan="2"></td>
        <td class="ba" colspan="3"
            th:text="${grade21.size() + grade22.size() + grade31.size()}"></td>
        <td class="ba" colspan="1"
            th:text="${grade21.totalScore() + grade22.totalScore() + grade31.totalScore()}"></td>
        <td class="ba" colspan="1"
            th:text="${form.grade.getTotalAbsenceCount()}"></td>
        <td class="ba" colspan="2"
            th:text="${form.grade.getTotalLatenessCount()}"></td>
        <td class="ba" colspan="1"
            th:text="${form.grade.getTotalEarlyLeaveCount()}"></td>
        <td class="ba" colspan="2"
            th:text="${form.grade.getTotalClassAbsenceCount()}"></td>
        <td class="ba" colspan="1"
            th:text="${form.grade.getTotalVolunteerTime()}"></td>
    </tr>
    <tr>
        <td style="height: 14px"></td>
    </tr>
    <tr>
        <td class="ba text-box" colspan="21">
            <p class="center medium">
                <b>〈개인정보 수집 이용 및 제공 동의서></b><br/><br/>
            </p>
            <p class="left small">
                ※ 개인정보의 수집 이용 및 제공 목적: 2025학년도 부산소프트웨어마이스터고등학교 입학전형 업무 수행<br/>
                ※ 수집하려는 개인정보의 항목: 성명, 생년월일, 사진, 전화번호(자택, 본인, 보호자), 주소, 출신중학교, 학교생활기록부 자료, 사회통합전형 대상자 등의 자격 확인 증빙자료 등<br/>
                ※ 개인정보의 보관 기간: 5년<br/>
            </p>
            <p class="center medium">
                위 내용에 대한 동의를 거부할 수 있으나 동의 거부 시 입학 원서를 접수 할 수 없음<br/><br/>
                <b>개인정보 활용에&nbsp;&nbsp;&nbsp;&nbsp; 동의함&nbsp;<input type="checkbox"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 동의하지 않음&nbsp;<input type="checkbox"/></b><br/><br/>
            </p>
            <p class="left medium">
                본인은 2025학년도 귀고 입학전형에 응시하고자 소정의 서류를 갖추어 지원하며 교칙을 준수하고, 다른 마이스터고등학교에 이중 지원을 하지 않을 것을 서약합니다.
            </p>
            <div class="space"></div>
            <p class="middle" th:text="${#dates.format(#dates.createNow(),'YYYY년 MM월 dd일')}"></p>
            <div class="space"></div>
            <div class="right">
                <div class="left middle inline">
                    <p>
                        지원자&nbsp;&nbsp;
                        <span th:text="${form.applicant.name}"></span>&nbsp;&nbsp;&nbsp;
                        <span class="guide">(인)</span>
                    </p>
                    <p>
                        보호자&nbsp;&nbsp;
                        <span th:text="${form.parent.name}"></span>&nbsp;&nbsp;&nbsp;
                        <span class="guide">(인)</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        관계:&nbsp;&nbsp;<span th:text="${form.parent.relation}"></span>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="ba text-box" colspan="21">
            <p class="left middle">위의 기재 사항은 사실과 상위없음을 확인하고, 귀교의 신입생 입학전형 대상자로 추천합니다.</p>
            <div class="space"></div>
            <p class="middle" th:text="${#dates.format(#dates.createNow(),'YYYY년 MM월 dd일')}"></p>
            <div class="space"></div>
            <p class="school right space-right">
                <span th:text="${form.education.school.name}"></span>장&nbsp;&nbsp;
                <span class="guide">(직인)</span>
            </p>
            <p class="school left">부산소프트웨어마이스터고등학교장 귀하</p>
        </td>
    </tr>
    <tr>
        <th scope="row" class="ba" colspan="4">원서작성자</th>
        <td class="ba" colspan="17" th:if="${form.education.isQualificationExamination()}"
            th:text="${form.applicant.phoneNumber.toString()}"></td>
        <td class="ba" colspan="17" th:unless="${form.education.isQualificationExamination()}">
            학교 전화번호 <span th:text="${form.education.teacher.phoneNumber.toString()}"></span>&nbsp;&nbsp;
            |&nbsp;&nbsp;
            휴대전화번호 <span th:text="${form.education.teacher.mobilePhoneNumber.toString()}"></span>
        </td>
    </tr>
</table>
</body>
</html>