<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            size: A4;
            margin: 50px;
        }

        * {
            font-family: SUIT, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        table {
            border: none;
            border-collapse: collapse;
            width: 100%;
            font-size: 12px;
            text-align: center;
            margin-top: 8px;
        }

        tr {
            vertical-align: middle;
        }

        td {
            padding: 6px 0;
        }

        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 48px;
            text-align: center;
        }

        caption {
            text-align: left;
            font-size: 16px;
        }

        th {
            background-color: #ECF2FA;
            font-weight: 500;
            padding: 6px 0;
        }

        .ba {
            border: #000000 1px solid;
        }

        .disabled {
            color: #f3f3f3;
            background-color: #f3f3f3;
        }
    </style>
    <title>원서</title>
</head>
<body>
<table style="margin: 0">
    <tr>
        <th style="width: 20%;" class="ba">접수번호</th>
        <td class="title" colspan="3" rowspan="2">개인별 성적 일람표</td>
        <th style="width: 20%;" class="ba">수험번호</th>
    </tr>
    <tr>
        <td class="ba" th:text="${form.id}"></td>
        <td class="ba" th:text="${form.examinationNumber}"></td>
    </tr>
</table>
<table>
    <tr>
        <th class="ba">인적사항</th>
        <td class="ba"
            th:text='${(form.education.isQualificationExamination() ? "검정" :  form.education.school.name) + ", "  + form.applicant.name}'>
        </td>
        <th class="ba">생년월일</th>
        <td class="ba" th:text="${#temporals.format(form.applicant.birthday, 'YYYY년 MM월 dd일')}"></td>
    </tr>
</table>
<table th:if="${form.education.isQualificationExamination()}">
    <caption th:text='${"1. 교과성적 - " + form.score.subjectGradeScore + "점"}'></caption>
    <tr>
        <th class="ba">과목</th>
        <th class="ba">만점</th>
        <th class="ba">득점</th>
    </tr>
    <tr th:each="subject : ${subjectList}">
        <td class="ba" th:text="${subject.subjectName}"></td>
        <td class="ba">100</td>
        <td class="ba" th:text="${subject.score}"></td>
    </tr>
</table>
<table th:unless="${form.education.isQualificationExamination()}">
    <caption th:text='${"1. 교과성적 - " + form.score.subjectGradeScore + "점"}'></caption>
    <tr>
        <th rowspan="2" class="ba">과목</th>
        <th class="ba">2학년 1학기</th>
        <th class="ba">2학년 2학기</th>
        <th class="ba">3학년 1학기</th>
    </tr>
    <tr>
        <th class="ba">성취수준</th>
        <th class="ba">성취수준</th>
        <th class="ba">성취수준</th>
    </tr>
    <tr th:each="subject : ${subjectList}">
        <td class="ba" th:text="${subject.subjectName}"></td>
        <td class="ba disabled" th:if="${subject.achievementLevel21 == null}"></td>
        <td class="ba" th:unless="${subject.achievementLevel21 == null}"
            th:text="${subject.achievementLevel21.toString(subject.subjectName)}"></td>
        <td class="ba disabled" th:if="${subject.achievementLevel22 == null}"></td>
        <td class="ba" th:unless="${subject.achievementLevel22 == null}"
            th:text="${subject.achievementLevel22.toString(subject.subjectName)}"></td>
        <td class="ba disabled" th:if="${subject.achievementLevel31 == null}"></td>
        <td class="ba" th:unless="${subject.achievementLevel31 == null}"
            th:text="${subject.achievementLevel31.toString(subject.subjectName)}"></td>
    </tr>
</table>
<table th:if="${form.education.isQualificationExamination()}">
    <caption th:text='${"2. 출결 상황 - " + form.score.attendanceScore + "점"}'></caption>
    <tr>
        <th class="ba">출결</th>
        <th class="ba">부여점수</th>
    </tr>
    <tr>
        <th class="ba">출결내역</th>
        <td class="ba">14점(기본점수)</td>
    </tr>
</table>
<table th:unless="${form.education.isQualificationExamination()}">
    <caption th:text='${"2. 출결 상황 - " + form.score.attendanceScore + "점"}'></caption>
    <tr>
        <th class="ba" colspan="4">1학년</th>
        <th class="ba" colspan="4">2학년</th>
        <th class="ba" colspan="4">3학년</th>
    </tr>
    <tr>
        <th class="ba">미인정<br/>결석</th>
        <th class="ba">미인정<br/>지각</th>
        <th class="ba">미인정<br/>조퇴</th>
        <th class="ba">미인정<br/>결과</th>
        <th class="ba">미인정<br/>결석</th>
        <th class="ba">미인정<br/>지각</th>
        <th class="ba">미인정<br/>조퇴</th>
        <th class="ba">미인정<br/>결과</th>
        <th class="ba">미인정<br/>결석</th>
        <th class="ba">미인정<br/>지각</th>
        <th class="ba">미인정<br/>조퇴</th>
        <th class="ba">미인정<br/>결과</th>
    </tr>
    <tr>
        <td class="ba" th:text="${form.grade.attendance1.absenceCount}"></td>
        <td class="ba" th:text="${form.grade.attendance1.latenessCount}"></td>
        <td class="ba" th:text="${form.grade.attendance1.earlyLeaveCount}"></td>
        <td class="ba" th:text="${form.grade.attendance1.classAbsenceCount}"></td>
        <td class="ba" th:text="${form.grade.attendance2.absenceCount}"></td>
        <td class="ba" th:text="${form.grade.attendance2.latenessCount}"></td>
        <td class="ba" th:text="${form.grade.attendance2.earlyLeaveCount}"></td>
        <td class="ba" th:text="${form.grade.attendance2.classAbsenceCount}"></td>
        <td class="ba" th:text="${form.grade.attendance3.absenceCount}"></td>
        <td class="ba" th:text="${form.grade.attendance3.latenessCount}"></td>
        <td class="ba" th:text="${form.grade.attendance3.earlyLeaveCount}"></td>
        <td class="ba" th:text="${form.grade.attendance3.classAbsenceCount}"></td>
    </tr>
</table>
<table th:if="${form.education.isQualificationExamination()}">
    <caption th:text='${"3. 봉사활동 - " + form.score.volunteerScore + "점"}'></caption>
    <tr>
        <th class="ba">봉사활동</th>
        <th class="ba">부여점수</th>
    </tr>
    <tr>
        <th class="ba">봉사내역</th>
        <td class="ba">14점(기본점수)</td>
    </tr>
</table>
<table th:unless="${form.education.isQualificationExamination()}">
    <caption th:text='${"3. 봉사활동 - " + form.score.volunteerScore + "점"}'></caption>
    <tr>
        <th class="ba" style="width: 20%">학년</th>
        <th class="ba">봉사활동시간수</th>
    </tr>
    <tr>
        <td class="ba">1학년</td>
        <td class="ba" th:text="${form.grade.volunteerTime1}"></td>
    </tr>
    <tr>
        <td class="ba">2학년</td>
        <td class="ba" th:text="${form.grade.volunteerTime2}"></td>
    </tr>
    <tr>
        <td class="ba">3학년</td>
        <td class="ba" th:text="${form.grade.volunteerTime3}"></td>
    </tr>
</table>
<table>
    <caption th:text='${"4. 가산점 - " + form.score.bonusScore + "점"}'></caption>
    <tr>
        <th class="ba">자격증명</th>
    </tr>
    <tr>
        <td class="ba disabled" th:if="${form.score.bonusScore == 0}">-</td>
        <td class="ba" th:unless="${form.score.bonusScore == 0}"
            th:text="${form.grade.certificateList.toString()}"></td>
    </tr>
</table>
<table>
    <caption>5. 산출내역</caption>
    <tr>
        <th class="ba">성명</th>
        <th class="ba">교과성적</th>
        <th class="ba">출결상황</th>
        <th class="ba">봉사활동</th>
        <th class="ba">가산점</th>
        <th class="ba">총점</th>
    </tr>
    <tr>
        <td class="ba" th:text="${form.applicant.name}"></td>
        <td class="ba" th:text="${form.score.subjectGradeScore}"></td>
        <td class="ba" th:text="${form.score.attendanceScore}"></td>
        <td class="ba" th:text="${form.score.volunteerScore}"></td>
        <td class="ba" th:text="${form.score.bonusScore}"></td>
        <td class="ba" th:text="${form.score.firstRoundScore}"></td>
    </tr>
</table>
</body>
</html>