<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/common.css"/>
    <style>
        table {
            width: 90%;
            margin: 0 auto;
        }

        .top-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 2px;
        }

        .guide {
            font-size: 11px;
            color: #BBBCC2;
            font-weight: 300;
            margin-right: 40px;
        }

        .indent {
            text-indent: 370px;
            font-size: 19px;
            word-break: keep-all;
        }
    </style>
    <title>원서</title>
</head>
<body>
<div class="center-table">
    <table>
        <div class="top-title center">2025학년도 부산소프트웨어마이스터고등학교</div>
        <div class="title center">입학등록원</div>
        <div style="height: 38px;"></div>
        <tr>
            <th scope="row" class="ba" style="width:5%;">수험번호</th>
            <td class="ba" style="width:15%;" th:text="${form.examinationNumber}">1000</td>
            <th scope="row" class="ba" style="width:5%;">성 명</th>
            <td class="ba" style="width:15%;" th:text="${form.applicant.name}"></td>
        </tr>
        <tr>
            <th scope="row" class="ba" style="width:15%;">성별</th>
            <td class="ba" style="width:20%;" th:text="${form.applicant.gender.description}"></td>
            <th scope="row" class="ba" style="width:15%;">생년월일</th>
            <td class="ba" style="width:20%;" th:text="${form.applicant.birthday}">1000</td>
        </tr>
        <tr>
            <th scope="row" class="ba" style="width:15%;">학생 연락처</th>
            <td class="ba" style="width:20%;" th:text="${form.applicant.phoneNumber}"></td>
            <th scope="row" class="ba" style="width:15%;">보호자 연락처</th>
            <td class="ba" style="width:20%;" th:text="${form.parent.phoneNumber}">1000</td>
        </tr>
        <tr>
            <th scope="row" class="ba" style="width:15%;">출신 중학교</th>
            <td class="ba" style="width:20%;" colspan="3" th:if="${form.education.isQualificationExamination()}"></td>
            <td class="ba" style="width:20%;" colspan="3" th:unless="${form.education.isQualificationExamination()}" th:text="${form.education.school.name} + '&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;학년&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;반'"></td>
        </tr>
    </table>
</div>
<div style="height: 30px;"></div>
<tr>
    <td class="text-box middle left padding" colspan="4">
        <p class="middle left">상기 본인은 2025학년도 부산소프트웨어마이스터고등학교 최종 합격자로서 본교 제1학년에 입학하고자 다음과 같이 입학등록원을 제출합니다.</p>
        <div style="height: 45px;"></div>
        <div class="middle center" th:text="${#dates.format(#dates.createNow(),'yyyy년 MM월 dd일')}">2024년 12월 21일</div>
        <div style="height: 40px;"></div>
        <p class="middle right">
            <span class="sign">학&nbsp;&nbsp;&nbsp;&nbsp;생 : </span>
            <span  th:text="${form.applicant.name}"></span>
            <span class="guide">(서명 또는 날인)</span>
        </p>
        <p class="middle right">
            <span class="sign">보호자 : </span>
            <span th:text="${form.parent.name}"></span>
            <span class="guide">(서명 또는 날인)</span>
        </p>
        <div style="height: 48px;"></div>
        <p class="school center"><b>부산소프트웨어마이스터고등학교장 귀하</b></p>
        <div style="height: 54px;"></div>
        <p class="middle left">※ 고등학교 무상교육(입학금, 수업료, 학교운영지원비, 교과서비, 중식비)
            이 실시됨에 따라 ‘입학등록원’을 제출해야만 입학생으로 처리되며,
            등록 포기 시 별도의 입학등록포기원을 작성하여 제출하여야 함</p>
        <div style="height: 40px;"></div>
        <p class="middle left">※ 등록 포기 시, 2025학년도에는 타 학교에 진학할 수 없음</p>
    </td>
</tr>

</body>
</html>